// Variables de color
$color-primary: #5f9a8c;
$color-secondary: #dfebe8;
$color-tertiary: #fbf6e1;
$color-backg: #f9f9f9;

// Modificando las variables de bootstrap
$dark: $color-primary;
$enable-gradients: true;
$btn-padding-y: 0.7rem;
$btn-padding-x: 1rem;
$btn-link-color: #fff;

@import "~flag-icon-css/sass/flag-icon";
@import "~bootstrap/scss/bootstrap";
@import "style.css";
@import "~flag-icon-css/sass/flag-icon";
.backcolor-nav {
    background-color: $color-secondary;
}
nav a,
.nav-link {
    color: #000;
}

// Inicio: diseño /ad/new
.section-new-ad {
    background-color: $color-backg;
}

.col-new-ad {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3em;
}

.main-tile-new-ad {
    padding: 1.2em 0em;
    font-size: 2em;
}

.empty-bottom {
    margin-bottom: 1em;
}
.empty-top {
    margin-top: 0.7em;
}

//FIn: diseño /ad/new
